<div class="container-fluid">
    <app-user-form (findUser)="userRequest($event)"></app-user-form>
    <div class="container" *ngIf='user'>
        <div style="margin-top: 10%;" class="panel panel-default">
            <div class="panel-heading">
                <h1>{{user.login}}</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{user.avatar_url}}" class="img-thumbnail" alt="pic">
                  </div>
                  <div class="col-md-6">
                    <ul>
                      <li><strong>Public repositories:{{user.public_repos}}</strong></li>
                      <li><strong>Followers:{{user.followers}}</strong></li>
                      <li><strong>Following:{{user.following}}</strong></li>
                    </ul>
                    <button class="btn btn-lg"><a href="{{user.html_url}}">View Profile</a></button>
                  </div>
                </div>

            </div>
            <br>
            <h1 class="rep">REPOSITORIES</h1>
            <hr>
            <div class="panel-group">
              <div class="repoz" *ngFor="let r of repo">
                <div class="panel panel-success" appHighlight>
                    <div class="panel-heading">
                      <h3>{{r.name}}</h3>
                    </div>
                    <div class="panel-body">
                      <button class="btn btn-lg"><a href="{{r.html_url}}">View on github</a></button>
                      <p>{{r.description}}</p>
                    </div>
                </div>
              </div>
            </div>

        </div>


    </div>


</div>
