

<!-- <a class="nav-item nav-link active btn btn-light" routerLink="profile"  routerLinkActive='active'>Search Users<span class="sr-only">(current)</span></a>
<a class="nav-item nav-link btn btn-light" routerLink="/repos"  routerLinkActive='active'> Search Repos</a> -->
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <ul>
    <li class="nav-item"><a routerLink="/home" routerLinkActive="active">Home</a>/li>
    <li class="nav-item"><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li class="nav-item"><a routerLink="/users" routerLinkActive="active">Username</a></li>
    <li class="nav-item"><a routerLink="/repositories" routerLinkActive="active">Repositories</a></li>
  </ul>

</nav>

<router-outlet></router-outlet>